:root {
  --color-primario: #2ba5cc;
  --color-secundario: #ebf6f9;
  --color-terciario: #e7faff;
  --color-azulOscruro: #0A3871;
  --color-claro: #F3F5FC;
}


/* background-color: var(--color-primario); */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: rgb(215, 245, 255);
  background: radial-gradient(circle, rgba(215, 245, 255, 1) 0%, rgba(242, 252, 255, 1) 99%);

}

header {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
}

main {
  width: 100%;
  height: calc(100vh - 80px);
}



footer {
  position: fixed;
  background-color: var(--color-primario);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: small;
  bottom: 0;
}

footer p {
  display: flex;
  align-items: center;
}


.contenido {
  display: grid;
  grid-template-columns: auto 440px;

}

.panel-encriptador {
  width: 100%;
  padding: 40px 40px 0 28%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}



.panel-desencriptador {
  margin-top: 40px;
  display: flex;
  width: 400px;
  height: 100%;
}

.panel-mensajes {
  width: 400px;
  background-color: var(--color-terciario);
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */


}

.mensaje {
  text-align: center;
  width: 320px;
  font-size: 24px;
  font-weight: 700;
}

.instruccion {
  text-align: center;
  justify-content: center;
  width: 320px;
  font-size: 25px;
  font-weight: 400;
}



.text-area-estilo {
  font-family: "Roboto", sans-serif;
  max-width: 680px;
  width: 90%;
  min-height: 70%;
  font-size: 32px;
  background: none;
  border: none;
  resize: none;
  outline: none;
  color: var(--color-primario);
  overflow: hidden;
  flex-grow: 1;
  /* line-height: 1.5; */


}


.text-area-estilo::placeholder {
  color: var(--color-primario);
}


.texto_final_estilo {
  font-family: "Roboto", sans-serif;
  width: 90%;
  height: 80%;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  background: none;
  border: none;
  resize: none;
  outline: none;
  overflow: hidden;
  /* flex-grow: 1; */
  /* line-height: 1.5; */
  color: var(--color-azulOscruro);
}

#textoFinal {
  display: none;
}


.panel-info {
  display: flex;
  align-items: center;
}

.img-info {
  height: 16px;
  margin-right: 5px;
}

.txt-info {
  font-size: 12px;
}


.panel-btn {
  display: flex;
  gap: 24px;
  width: 100%;
}

.btn-encriptar,
.btn-desencriptar {
  cursor: pointer;
  display: inline-block;
  max-width: 328px;
  width: 100%;
  height: 67px;
  border-radius: 24px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: 0.4s;
  z-index: 1;

}

.btn-encriptar,
.btn-desencriptar:hover {
  cursor: pointer;
}


.btn-encriptar {
  background-color: var(--color-primario);
  color: azure;
  border: none;

}

.btn-desencriptar {
  background-color: var(--color-botonDesencriptar);
  color: var(--color-primario);
  border: 1px solid var(--color-primario);


}

.cajaCopia {
  display: none;
  width: 100%;
  height: 10%;
  margin: auto;
  padding: 0;

  margin-bottom: 5px;
}

.btn-copiar {
  /* display: none; */
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.icono_copiar {
  height: 25px;
}


.img-monito {
  align-self: center;

}




@media (max-width:1300px) {

  .contenido {
    grid-template-columns: auto 440px;
  }

  .panel-encriptador {
    width: 100%;
    padding: 40px 40px 0 10%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
  }


  .panel-desencriptador {
    width: 90%;
  }


}


@media (max-width: 800px) {

  header {
    position: absolute;
    margin-top: 40px;
    margin-left: -5px;
  }



  .contenido {
    display: grid;
    grid-template-columns: 1fr;
  }

  .caja {
    display: none;
  }



  .panel-encriptador {
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    padding: 40px;
    margin-bottom: 0;

  }

  .panel-btn {
    gap: 24px;
    justify-content: space-between;
  }

  .btn {

    max-width: 328px;
    width: 70%;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;

  }

  .panel-desencriptador {
    /* margin-top: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  .panel-mensajes {
    justify-content: center;
    width: 100%;
    margin: 0 40px 50px 40px;
    padding: 20px 0;
  }

  .texto_final_estilo {
    height: 100px;

  }



  .mensaje {
    text-align: center;
    justify-content: center;
    width: 80%;
    font-size: 24px;
    font-weight: 700;
  }

  .instruccion {
    text-align: center;
    justify-content: center;
    width: 320px;
    font-size: 20px;
    font-weight: 400;

  }



  .img-monito {
    display: none;
  }



}


@media (max-width: 390px) {

  header {
    position: absolute;
    margin-top: 40px;
    margin-left: -10px;
  }

  .contenido {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
  }


  .panel-encriptador {
    justify-content: center;
    margin: 100px 0 0 0;
    width: 100%;
    height: min-content;
  }

  .text-area-estilo {
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-height: 200px;
    font-size: 32px;
    color: var(--color-primario);
    overflow: hidden;
    flex-grow: 1;


  }


  .texto_final_estilo {
    height: 50px;
    font-size: 22px;
    height: 150px;
    margin: auto;

  }



  .panel-desencriptador {

    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

  }

  .panel-mensajes {
    display: block;
    height: 560px;
    width: 100%;
    margin: 0 10px;
    padding: 20px auto;
  }


  .cajaCopia {
    max-width: 300px;
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
  }


  .btn-copiar {
    max-width: 300px;
    width: 70%;
  }


  .panel-btn {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 160px;
    margin: 0;
    padding: 0;

  }

  .btn {
    width: 100%;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }



  .mensaje {
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
  }



}